/*********** EXPERT *************/
.expert {
  position: relative;
  background-color: $mainColor;
  padding-top: 147px;
  border-radius: 20px;
  padding-bottom: 62px;
  color: $lightColor;

  &__img-block {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    height: 218px;
    z-index: $expertPhoto;

  }

  &__img {
    object-fit: cover;
    width: auto;
    height: 100%;
    border-radius: 50%;
  }

  &__subtitle {
    font-size: 22px;
    line-height: 40px;
  }

  &__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 31px;
  }

  &__text {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
    position: relative;

    &:nth-child(3) {
      text-indent: 60px;
    }

    span {
      vertical-align: middle;
    }
  }

  &__img-q {
    object-fit: contain;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__text-highlighted {
    font-weight: 700;
  }
}

.call {
  height: 388px;
  overflow: hidden;
  padding: 50px 0;

  &__content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    min-height: 277px;
    width: 100%;
    max-width: 280px;
  }

  &__image-V {
    position: absolute;
    left: 50%;
    height: auto;
    object-fit: contain;
    top: -2px;
    width: 75px;
    animation: v .6s linear -300ms infinite alternate;
  }

  &__image-I {
    position: absolute;
    left: 50%;
    top: 70px;
    animation: i .6s linear -200ms infinite alternate;
  }

  &__image-S {
    position: absolute;
    left: 50%;
    top: 30px;
    animation: s-anim .6s linear -100ms infinite alternate;
  }

  &__image-O {
    position: absolute;
    left: 50%;
    top: 138px;
    animation: o .6s linear -400ms infinite alternate;
  }

  &__image-N {
    position: absolute;
    left: 50%;
    top: 212px;
    animation: n .6s linear -500ms infinite alternate;
  }

  &__text {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    color: $bgHover;
    z-index: $call;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    white-space: pre-line;
  }

  &__text-highlighted {
    font-weight: bold;
    color: $mainColor;
  }
}
/********** EXPERT END **********/