/*********** MAIN *************/
.main {
  min-height: calc(100vh - 49px);
  background-color: $mainColor;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__images-block {
    left: 50%;
    top: calc(50vh - 288px);
    transform: translateX(-50%);
    position: relative;
    min-height: 277px;
    width: 100%;
    max-width: 307px;
  }

  &__image-V {
    position: absolute;
    left: 50%;
    height: auto;
    object-fit: contain;
    z-index: $V;
    top: 22px;
    animation: v-main .6s linear -300ms infinite alternate;
  }

  &__image-I {
    position: absolute;
    left: 50%;
    z-index: $I;
    top: 86px;
    animation: i-main .6s linear -200ms infinite alternate;
  }

  &__image-S {
    position: absolute;
    left: 50%;
    z-index: $S;
    top: 29px;
    animation: s-anim-main .6s linear -100ms infinite alternate;
  }

  &__image-O {
    position: absolute;
    left: 50%;
    top: 150px;
    z-index: $O;
    animation: o-main .6s linear -400ms infinite alternate;
  }

  &__image-N {
    position: absolute;
    left: 50%;
    z-index: $N;
    top: 172px;
    animation: n-main .6s linear -500ms infinite alternate;
  }

  &__image {
    position: absolute;
    z-index: $visonImg;
    object-fit: contain;
    top: 0;
    animation: img-anim 2s linear -50ms infinite alternate;
  }

  &__content-block {
    width: 100%;
    position: relative;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    color: $lightColor;
    text-transform: uppercase;
    padding: 0 22px;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 22px;
    line-height: 28px;
    color: $lightColor;
    margin-bottom: 84px;
    padding: 0 22px;
  }

  &__button-wrapper {
    position: absolute;
    bottom: 48px;
    z-index: $mainBtn;
    width: 100vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 0;
    background-color: transparent;
  }

  &__button {
    max-width: 279px;
  }

  //&__line {
  //  height: 42px;
  //  background-color: #AECDFF;
  //  max-width: 100%;
  //  width: 100%;
  //  white-space: nowrap;
  //}

  &__line-wrapper {
    height: 42px;
    background-color: #AECDFF;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    //display: inline-block;
    //animation: scroll-anim 30s linear 0s infinite;
  }

  &__line-text {
    margin: 13px 20px 13px 0;
    display: inline-block;
    //position: relative;
    //left: -100%;

    &:last-child {
      margin: 13px 0;
    }
  }
}

@media (orientation: landscape) {
  .main__images-block {
    top: 0;
  }
}

// min 667px
@media screen and (min-height: $iPhone6Height) {
  .main {
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 86px;
    }
  }
}

@media (orientation: landscape) {
  .main__images-block {
    top: 0;
  }
}

/*********** MAIN END *************/
