/*********** NAV *************/
.burger-menu {
  display: none;
}

.nav {
  //position: fixed;
  z-index: $nav;
  //top: 20px;
  //left: 0;
  //right: 0;

  &__burger {
    display: none;
  }

  &__wrap {  }

  &__logo-wrap {
  }

  &__logo {}

  &__wrap-menu {}

  &__link {
    display: inline-block;
    //color: $textColor;
    transition: color .3s ease 0s;

    &:visited {
     // color: $textColor;
    }

    &:hover, &:active {
     // color: $mainHover;
    }
  }

  &__lang {
    // user-select: none;
  }

  &__lang-link {
    display: inline-block;
    transition: .3s;

    &:visited {
    }

    &:hover, &:active {
    }
  }
}
/*********** NAV END *************/
