/*********** NAV *************/
.burger-menu {
  display: none;
}

.nav {
  //position: fixed;
  z-index: $nav;
  //top: 20px;
  //left: 0;
  //right: 0;

  &__wrap {
      // border-radius: 0;
      position: relative;
  }

  &__logo-wrap {
  }

  &__logo {}

  &__wrap-menu {}

  &__link {
    display: inline-block;
    //color: $textColor;
    transition: color .3s ease 0s;

    &:visited {
     // color: $textColor;
    }

    &:hover, &:active {
     // color: $mainHover;
    }
  }

  &__burger {
    position: absolute;
    top: 50%;
    right: 23px;
    height: 23px;
    width: 30px;
    transform: translateY(-50%);
    display: block;
    cursor: pointer;
  }

  &__burger-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__burger-line::before {
    content: '';
    top: 0;
    transition: .3s;
  }

  &__burger-line::after {
    content: '';
    top: 8px;
    transition: .3s;
  }

  &__burger-line,
  &__burger-line::before {
    width: 100%;
    height: 2px;
    background: $lightColor;
    position: absolute;
  }

  &__burger--active .nav__burger-line {
    background-color: transparent;
  }

  &__burger--active .nav__burger-line::before {
    transform: rotate(45deg);
    top: 0;
  }

  &__burger--active .nav__burger-line::after {
    transform: rotate(-45deg);
    top: 0;
  }
}
/*********** NAV END *************/
