/*********** PRODUCT *************/
.product {
  padding-top: 57px;

  .slick-slider {
  }

  //.slick-slider div {
  // For fixing infinite slider jumping issue from last to firs:
  //transition: opacity 0s ease 0s;
  //}

  // Slider wrapper:
  .slick-list {
  }

  // Slider feed:
  .slick-track {
  }

  .slick-slide {
  }

  .slick-dots {
  }

  &__title {
    color: $mainColor;
    font-weight: 900;
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 20px;
    overflow: hidden;

    span {
      display: inline-block;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 30px;
    color: $bgHover;
    margin-bottom: 20px;
    overflow: hidden;

    span {
      display: inline-block;
    }

    &:last-of-type {
      margin-bottom: 46px;
    }
  }

  &__slide {
    position: relative;
  }

  //&__slider-dots {
   {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $productSlideDots;

    ul.slick-dots {
      display: inline-flex;
      height: 100%;
    }

    ul.slick-dots li {
      width: 64px;
      margin-right: 8px;
      overflow-x: hidden;
    }

    ul.slick-dots li button {
      font-size: 0;
      background-color: $lightColor;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      line-height: 4px;
      color: transparent;
      transform: none;
      transition: transform 3000ms linear 0s;

      &:hover, &:focus, &:active, &:focus-visible {
        background-color: $lightColor;
      }
    }

    ul.slick-dots li:last-of-type {
      margin-right: 0;
    }
  }

  &__slide-customer1 .product__slider-dots ul.slick-dots li:nth-of-type(1) button {
    transform: translateX(-100%);
  }

  &__slide-customer2 .product__slider-dots ul.slick-dots li:nth-of-type(2) button {
    transform: translateX(-100%);
  }

  &__slide-customer3 .product__slider-dots ul.slick-dots li:nth-of-type(3) button {
    transform: translateX(-100%);
  }

  &__slide-customer4 .product__slider-dots ul.slick-dots li:nth-of-type(4) button {
    transform: translateX(-100%);
  }

  &__slide-img {
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  &__slide-text {
    position: absolute;
    padding: 24px 0;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100% - 40px);
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: $bgHover;
    background-color: $bg1;
    z-index: $productSlideText;
    border-radius: 20px;
  }

  .slick-slide.slick-current {
    // For fixing infinite slider jumping issue from last to firs:
    //opacity: 1;

    .product__slide-customer1 .product__slider-dots ul.slick-dots li:nth-of-type(1) button {
      background-color: $hover;
      transform: none;
    }

    .product__slide-customer2 .product__slider-dots ul.slick-dots li:nth-of-type(2) button {
      background-color: $hover;
      transform: none;
    }

    .product__slide-customer3 .product__slider-dots ul.slick-dots li:nth-of-type(3) button {
      background-color: $hover;
      transform: none;
    }

    .product__slide-customer4 .product__slider-dots ul.slick-dots li:nth-of-type(4) button {
      background-color: $hover;
      transform: none;
    }
  }
}

._anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.anim-show._active, ._active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}

/*********** PRODUCT END *************/