/*********** TESTIMONIALS *************/
.testimonials {
  .slick-slider {
    margin-bottom: 61px;
  }

  //.slick-slider div {
  // For fixing infinite slider jumping issue from last to firs:
  //transition: opacity 0s ease 0s;
  //}

  // Slider wrapper:
  .slick-list {
  }

  // Slider feed:
  .slick-track {
  }

  .slick-slide {
  }

  .slick-dots {
  }

  &__slide {
    padding-top: 49px;
  }

  &__slide-content {
    padding-top: 147px;
    background-color: $mainColor;
    border-radius: 20px;
    position: relative;
    padding-bottom: 81px;
  }

  &__slider-dots {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $testimonialsSlideDots;

    ul.slick-dots {
      display: inline-flex;
      height: 100%;
    }

    ul.slick-dots li {
      width: 86px;
      margin-right: 11px;
      overflow-x: hidden;
    }

    ul.slick-dots li button {
      font-size: 0;
      background-color: $dotsColorTransparent;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      line-height: 4px;
      color: transparent;
      transform: none;
      transition: transform 3000ms linear 0s;

      &:hover, &:focus, &:active, &:focus-visible {
        background-color: $dotsColorTransparent;
      }
    }

    ul.slick-dots li:last-of-type {
      margin-right: 0;
    }
  }

  &__slide-customer1 .testimonials__slider-dots ul.slick-dots li:nth-of-type(1) button {
    transform: translateX(-100%);
  }

  &__slide-customer2 .testimonials__slider-dots ul.slick-dots li:nth-of-type(2) button {
    transform: translateX(-100%);
  }

  &__slide-customer3 .testimonials__slider-dots ul.slick-dots li:nth-of-type(3) button {
    transform: translateX(-100%);
  }

  .slick-slide.slick-current {
    // For fixing infinite slider jumping issue from last to firs:
    //opacity: 1;

    .testimonials__slide-customer1 .testimonials__slider-dots ul.slick-dots li:nth-of-type(1) button {
      background-color: $hover;
      transform: none;
    }

    .testimonials__slide-customer2 .testimonials__slider-dots ul.slick-dots li:nth-of-type(2) button {
      background-color: $hover;
      transform: none;
    }

    .testimonials__slide-customer3 .testimonials__slider-dots ul.slick-dots li:nth-of-type(3) button {
      background-color: $hover;
      transform: none;
    }
  }

  &__slide-img-block {
    display: inline-block;
    width: 180px;
    height: 180px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -49px;
    z-index: $testimonialsSlideImg;
    border-radius: 50%;
    overflow: hidden;
  }

  &__slide-img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  &__slide-title {
    margin-bottom: 27px;
    color: $lightColor;
    font-size: 22px;
    line-height: 40px;
  }

  &__slide-text {
    font-size: 22px;
    line-height: 30px;
    position: relative;
    text-indent: 60px;

    span {
      vertical-align: middle;
      color: $lightColor;
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__img-q {
    object-fit: contain;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__survey {
    margin-bottom: 59px;
  }

  &__survey-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: $bgHover;
    margin-bottom: 20px;
    white-space: pre-line;
  }

  &__survey-appraisal-block {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $borderColor;
    padding-bottom: 8px;
    align-items: center;
    margin-bottom: 29px;
    min-height: 40px;
    position: relative;
  }

  &__survey-appraisal-rate-line {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: $hover;
    bottom: -2px;
    left: 0;
    transition: width 0.8s ease 0s;
  }

  &__survey-appraisal {
    font-size: 22px;
    line-height: 24px;
    color: $bgHover;
  }

  &__survey-appraisal-rate {
    font-weight: 900;
    font-size: 36px;
    line-height: 30px;
    color: $mainColor;
    vertical-align: middle;
  }
}
/********** TESTIMONIALS END **********/
