- const contacts = LANG.contacts;

section.contacts#contacts
    form(class="contacts__form" action="/#" method="POST")
        .contacts__input-name
            input(class="input" placeholder=contacts.name_placeholder type="text" tabindex="1" minlength=3 required name="name")
            img&attributes(contacts.input_img).contacts__input-img
        .contacts__input-phone
            input(class="input" placeholder=contacts.phone_placeholder type="tel" tabindex="2" minlength=3 required name="phone")
            img&attributes(contacts.input_img).contacts__input-img
        button(class="button button-darken contacts__form-btn" type="submit")= contacts.button
