- const productContent = LANG.product;

section.product#vison
    .container
        h2.product__title._anim-items
            span._anim-show= productContent.title
        p.product__text._anim-items
            span._anim-show= productContent.text1
        p.product__text._anim-items
            span._anim-show= productContent.text2
    #js_productSlider
        each val in productContent.productSlider
            div(class="product__slide-" + val.additional_class + " " + "product__slide")
                img&attributes(val.img).product__slide-img
                p.product__slide-text= val.text