/*********** ANIMATIONS *************/
@keyframes img {
    0% {
      top: 0;
    }
    100% {
      top: -10px;
    }
  }
  
  @keyframes v-main {
    0% {
      -webkit-transform: translateX(-173px) scale(1);
      transform: translateX(-173px) scale(1);
    }
    25% {
      -webkit-transform: translateX(-172px) scale(1.02);
      transform: translateX(-172px) scale(1.02);
    }
    50% {
      -webkit-transform: translateX(-171px) scale(1.04);
      transform: translateX(-171px) scale(1.04);
    }
    75% {
      -webkit-transform: translateX(-170px) scale(1.06);
      transform: translateX(-170px) scale(1.06);
    }
    100% {
      -webkit-transform: translateX(-169px) scale(1.08);
      transform: translateX(-169px) scale(1.08);
    }
  }
  
  @keyframes i-main {
    0% {
      transform: translateX(-53px);
    }
    100% {
      transform: translateX(-49px);
    }
  }
  
  @keyframes s-anim-main {
    0% {
      transform: translateX(60px);
      top: 30px;
    }
    100% {
      transform: translateX(64px);
      top: 33px;
    }
  }
  
  @keyframes o-main {
    0% {
      top: 150px;
    }
    100% {
      top: 154px;
    }
  }
  
  @keyframes n-main {
    0% {
      transform: translateX(-114px);
      top: 172px;
    }
    100% {
      transform: translateX(-110px);
      top: 176px;
    }
  }

@keyframes v {
  0% {
    width: 75px;
    transform: translateX(-144px);
  }
  100% {
    width: 78px;
    transform: translateX(-140px);
  }
}

@keyframes i {
  0% {
    transform: translateX(-53px);
  }
  100% {
    transform: translateX(-49px);
  }
}

@keyframes s-anim {
  0% {
    transform: translateX(48px);
    top: 30px;
  }
  100% {
    transform: translateX(52px);
    top: 33px;
  }
}

@keyframes o {
  0% {
    top: 138px;
  }
  100% {
    top: 142px;
  }
}

@keyframes n {
  0% {
    transform: translateX(-126px);
    top: 212px;
  }
  100% {
    transform: translateX(-130px);
    top: 216px;
  }
}
  
  @keyframes scroll-anim {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
/********* ANIMATIONS END *********/