/*********** ANIMATIONS *************/
@keyframes img-anim {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  40% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  70% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes v-main {
  0% {
    -webkit-transform: translateX(-173px) scale(1);
    transform: translateX(-173px) scale(1);
  }
  25% {
    -webkit-transform: translateX(-172px) scale(1.02);
    transform: translateX(-172px) scale(1.02);
  }
  50% {
    -webkit-transform: translateX(-171px) scale(1.04);
    transform: translateX(-171px) scale(1.04);
  }
  75% {
    -webkit-transform: translateX(-170px) scale(1.06);
    transform: translateX(-170px) scale(1.06);
  }
  100% {
    -webkit-transform: translateX(-169px) scale(1.08);
    transform: translateX(-169px) scale(1.08);
  }
}

@keyframes i-main {
  0% {
    -webkit-transform: translateX(-53px);
    transform: translateX(-53px);
  }
  25% {
    -webkit-transform: translateX(-52px);
    transform: translateX(-52px);
  }
  50% {
    -webkit-transform: translateX(-51px);
    transform: translateX(-51px);
  }
  75% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(-49px);
    -webkit-transform: translateX(-49px);
  }
}

@keyframes s-anim-main {
  0% {
    transform: translate(60px, 0);
    -webkit-transform: translate(60px, 0);
  }
  25% {
    transform: translate(61px, 1px);
    -webkit-transform: translate(61px, 1px);
  }
  50% {
    transform: translate(62px, 2px);
    -webkit-transform: translate(62px, 2px);
  }
  75% {
    transform: translate(63px, 3px);
    -webkit-transform: translate(63px, 3px);
  }
  100% {
    transform: translate(64px, 4px);
    -webkit-transform: translate(64px, 4px);
  }
}

@keyframes o-main {
  0% {
    transform: translate(89px, 0);
    -webkit-transform: translate(89px, 0);
  }
  25% {
    transform: translate(89px, 1px);
    -webkit-transform: translate(89px, 1px);
  }
  50% {
    transform: translate(89px, 2px);
    -webkit-transform: translate(89px, 2px);
  }
  75% {
    transform: translate(89px, 3px);
    -webkit-transform: translate(89px, 3px);
  }
  100% {
    transform: translate(89px, 4px);
    -webkit-transform: translate(89px, 4px);
  }
}

@keyframes n-main {
  0% {
    transform: translate(-114px, 0);
    -webkit-transform: translate(-114px, 0);
  }
  25% {
    transform: translate(-113px, 1px);
    -webkit-transform: translate(-113px, 1px);
  }
  50% {
    transform: translate(-112px, 2px);
    -webkit-transform: translate(-112px, 2px);
  }
  75% {
    transform: translate(-111px, 3px);
    -webkit-transform: translate(-111px, 3px);
  }
  100% {
    transform: translate(-110px, 4px);
    -webkit-transform: translate(-110px, 4px);
  }
}

@keyframes v {
  0% {
    transform: translateX(-144px) scale(1);
    -webkit-transform: translateX(-144px) scale(1);
  }
  25% {
    transform: translateX(-143px) scale(1.02);
    -webkit-transform: translateX(-143px) scale(1.02);
  }
  50% {
    transform: translateX(-142x) scale(1.04);
    -webkit-transform: translateX(-142px) scale(1.04);
  }
  75% {
    transform: translateX(-141px) scale(1.06);
    -webkit-transform: translateX(-141px) scale(1.06);
  }
  100% {
    transform: translateX(-140px) scale(1.08);
    -webkit-transform: translateX(-140px) scale(1.08);
  }
}

@keyframes i {
  0% {
    transform: translateX(-53px);
    -webkit-transform: translateX(-53px);
  }
  25% {
    transform: translateX(-52px);
    -webkit-transform: translateX(-52px);
  }
  50% {
    transform: translateX(-51px);
    -webkit-transform: translateX(-51px);
  }
  75% {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
  }
  100% {
    transform: translateX(-49px);
    -webkit-transform: translateX(-49px);
  }
}

@keyframes s-anim {
  0% {
    transform: translate(48px, 0);
    -webkit-transform: translate(48px, 0);
  }
  25% {
    transform: translate(49px, 1px);
    -webkit-transform: translate(49px, 1px);
  }
  50% {
    transform: translate(50px, 2px);
    -webkit-transform: translate(50px, 2px);
  }
  75% {
    transform: translate(51px, 3px);
    -webkit-transform: translate(51px, 3px);
  }
  100% {
    transform: translate(52px, 4px);
    -webkit-transform: translate(52px, 4px);
  }
}

@keyframes o {
  0% {
    transform: translate(52px, 0);
    -webkit-transform: translate(52px, 0);
  }
  25% {
    transform: translate(52px, 1px);
    -webkit-transform: translate(52px, 1px);
  }
  50% {
    transform: translate(52px, 2px);
    -webkit-transform: translate(52px, 2px);
  }
  75% {
    transform: translate(52px, 3px);
    -webkit-transform: translate(52px, 3px);
  }
  100% {
    transform: translate(52px, 4px);
    -webkit-transform: translate(52px, 4px);
  }
}

@keyframes n {
  0% {
    transform: translate(-126px, 0);
    -webkit-transform: translate(-126px, 0);
  }
  25% {
    transform: translate(-127px, 1px);
    -webkit-transform: translate(-127px, 1px);
  }
  50% {
    transform: translate(-128px, 2px);
    -webkit-transform: translate(-128px, 2px);
  }
  75% {
    transform: translate(-129px, 3px);
    -webkit-transform: translate(-129px, 3px);
  }
  100% {
    transform: translate(-130px, 4px);
    -webkit-transform: translate(-130px, 4px);
  }
}

@keyframes scroll-anim {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  20% {
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
  }
  40% {
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
  }
  60% {
    transform: translateX(-30%);
    -webkit-transform: translateX(-30%);
  }
  80% {
    transform: translateX(-40%);
    -webkit-transform: translateX(-40%);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

/********* ANIMATIONS END *********/